## Top-most EditorConfig file
root = true

## Everything
[*]
charset = utf-8

# Extra whitespace
trim_trailing_whitespace = true

## Everything except VS projects
[!*{.vcxproj,.filters}]
# Indentation
indent_size = 4
indent_style = space

# Final newline
insert_final_newline = true

## Everything except Python files
[!*.py]
end_of_line = crlf

## Python files
[*.py]
end_of_line = lf

## App source files
[main/src/**.{c,h}pp]
# Set guidelines length for source files (120-char limit)
# Requires Visual Studio Extension "Editor Guidelines":
# https://marketplace.visualstudio.com/items?itemName=PaulHarrington.EditorGuidelines
guidelines = 120 1px solid A0A9A9A9
