# Desktop configuration files
desktop.ini
.DS_Store

# Build and cache
.build/
.cache/
.xmake/
build/

# IDE directories
.vscode/

# Test settings
tests/settings/settings.ini

# clangd configuration
.clangd
