name: Windows build

on:
  workflow_call:
    inputs:
      mode:
        type: string
        required: true

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Get current date as package key
      id: cache_key
      run: echo "key=$(date +'%W')" >> $GITHUB_OUTPUT
      shell: bash

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set xmake env
      run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: branch@dev

    - name: Update xmake repository
      run: xmake repo --update

    - name: Retrieve dependencies hash
      id: dep_hash
      run: echo "hash=$(xmake l utils.ci.packageskey)" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append

    - name: Retrieve cached xmake dependencies
      uses: actions/cache@v4
      with:
        path: ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
        key: Windows-${{ steps.dep_hash.outputs.hash }}-W${{ steps.cache_key.outputs.key }}

    - name: Configure xmake
      run: xmake f -m ${{ inputs.mode }} --ccache=n -y

    - name: Build
      run: xmake

    - name: Install
      if: inputs.mode == 'release'
      run: xmake i -o dist terminal

    - name: Upload
      if: inputs.mode == 'release'
      uses: actions/upload-artifact@v4
      with:
        name: terminal-windows
        path: dist
