name: Publish release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    uses: ./.github/workflows/build-all-os.yml
    with:
      mode: release

  publish-release:
    name: Publish release
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download Linux release
      uses: actions/download-artifact@v4
      with:
        name: WhaleConnect-linux
        path: WhaleConnect-linux

    - name: Download macOS release
      uses: actions/download-artifact@v4
      with:
        name: WhaleConnect-macos
        path: WhaleConnect-macos

    - name: Download Windows release
      uses: actions/download-artifact@v4
      with:
        name: WhaleConnect-windows
        path: WhaleConnect-windows

    - name: Compress releases
      run: |
        zip WhaleConnect-linux.zip WhaleConnect-linux/* -r -qq
        zip WhaleConnect-macos.zip WhaleConnect-macos/* -r -qq
        zip WhaleConnect-windows.zip WhaleConnect-windows/* -r -qq

    - name: Get latest changes
      run: python3 scripts/get_latest_changes.py

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        body_path: changelog-latest.txt
        files: |
          WhaleConnect-linux.zip
          WhaleConnect-macos.zip
          WhaleConnect-windows.zip
